In [36]:
from sklearn import datasets
import pandas as pd

In [37]:
iris_data = datasets.load_iris()
X = iris_data['data']
Y = iris_data['target']

In [38]:
iris_df = pd.DataFrame(X, columns = iris_data['feature_names'])
iris_df['target'] = Y

In [39]:
iris_df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

In [40]:
iris_df.shape

(150, 5)

In [41]:
iris_df.columns = ['sepal l', 'sepal w', 'petal l', 'petal w', 'target']

In [42]:
iris_df.head()

   sepal l  sepal w  petal l  petal w  target
0      5.1      3.5      1.4      0.2       0
1      4.9      3.0      1.4      0.2       0
2      4.7      3.2      1.3      0.2       0
3      4.6      3.1      1.5      0.2       0
4      5.0      3.6      1.4      0.2       0

In [43]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [44]:
#Splitting the data
train_df,test_df = train_test_split(iris_df)

In [45]:
#Shape of train and test data
print(train_df.shape,test_df.shape)

(112, 5) (38, 5)

In [46]:
train_df.head()

     sepal l  sepal w  petal l  petal w  target
33       5.5      4.2      1.4      0.2       0
81       5.5      2.4      3.7      1.0       1
66       5.6      3.0      4.5      1.5       1
129      7.2      3.0      5.8      1.6       2
37       4.9      3.6      1.4      0.1       0

In [47]:
model = GaussianNB().fit(train_df[['sepal l','sepal w','petal l','petal w']], train_df['target'])

In [48]:
z = model.predict(test_df[['sepal l','sepal w','petal l','petal w']])

In [49]:
from sklearn.metrics import accuracy_score
print(accuracy_score(test_df['target'],z,normalize = False))

37